.cac_current-player {
    width: 40%;
    height: 50%;

    font-size: large;
    font-family: 'comicsans', sans-serif;

    .cac_current-player_container {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .cac_current-player-info {
            width: 40%;
            height: 100%;
            padding: 20px 10px 10px;

            position: relative;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            border: 10px solid #4C1A11;
            background: #ECC6A7;

            .cac_nivel {
                width: 30%;
                height: 10%;

                display: flex;
                align-items: center;
                justify-content: center;

                color: #ECC6A7;
                position: absolute;
                top: 0;

                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: #4C1A11;
            }

            .cac_nome {
                width: 100%;
                height: 15%;

                text-align: center;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            .cac_img {
                width: 100%;
                height: 50%;
            }

            .cac_raca-classe {
                width: 100%;
                height: 15%;

                font-size: medium;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;
            }
        }

        .cac_current-player-custom {
            width: 58%;
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            border: 10px solid #4C1A11;
            background: #ECC6A7;
        }
    }
}