.section_create-card {
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .create-card_cards-container {
        width: 100%;
        height: 80%;
        padding: 20px;
        gap: 20px 40px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        overflow-y: auto;

        .create-card_default-um-jogador-card {
            width: 300px;
            height: 400px;
        }

        .create-card_default-varios-jogadores-card {
            width: 220px;
            height: 300px;
        }

    }

    .create-card_cards-container::-webkit-scrollbar {
        border-radius: 10px;
        background-color: #491712;
    }
    
    .create-card_cards-container::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #FA8B17;
    }

    .create-card_btn-container {
        width: 100%;
        height: 15%;
        padding: 0 50px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .create-card_create-player{
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .section_create-card {
        gap: 20px;

        .create-card_cards-container {
            min-height: 200px;
            padding: 40px 0;
            gap: 40px;

            overflow: hidden;

            .create-card_default-varios-jogadores-card {
                display: none;
            }
        }

        .create-card_btn-container {
            height: 120px;
            padding: 0;
            gap: 20px;

            justify-content: space-evenly;

            button {
                height: 60%;
            }
        }
    }
}