.section_rules {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    .section_rules_container {
        width: 45%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        position: relative;

        border-right: 5px solid #FA8B17;
        background: radial-gradient(50% 50% at 50% 50%, rgba(40, 30, 27, 0.9) 0%, rgba(14, 9, 11, 0.9) 100%);

        .regras_titulos_container {
            width: 100%;
            height: 70%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        .regras_titulos {
            width: 400px;
            padding: 5px;

            color: #FA8B17;
            font-family: 'comicsans', sans-serif;
            text-align: center;
            list-style: none;

            cursor: pointer;

            border-bottom: 5px solid #491712;
        }

        .regras_titulos:hover {
            border-bottom: 5px solid #FA8B17;
        }
    }

    .section_rules_content {
        width: 55%;
        height: 100%;
        padding: 5% 12%;

        background-image: url('../../../assets/images/munchkin_paper.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        
        .rules_content-div {
            width: 100%;
            height: 100%;
            padding: 0 5%;

            font-family: 'comicsans', sans-serif;
            text-align: justify;

            overflow-y: auto;
        }

        .rules_content-div::-webkit-scrollbar {
            width: 10px;
        }
        
        .rules_content-div::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #000000;
        }
    }
}