.modal_container {
    width: 500px;
    height: 400px;

    position: absolute;

    z-index: 100;
}

@media screen and (max-width: 1000px) {
    .modal_container {
        width: 90%;
        height: 20%;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #491712;
    }
}